@charset "utf-8";

/* 共通部分
--------------------------------------------------- */

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 100%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul,
ol {
	list-style-type: none;
}


a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 55px 50px 60px;
	border: 3px solid #C4F4F6;
	background-color: #fff;
}


.sub-titles {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0.9em 0 0.9em 3em;/*要確認*/
	background-color: #C4F4F6;
	font-size: 1.875rem;
	color: #01214C;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: 2em 1.7em;
}



a:hover {
	opacity: .6;
}




/* TOP
--------------------------------------------------- */

.header-flex {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.top-menu {
	background-color: #01214F;
}

.header-flex h1 {
	width: 50%;
}

.logo-top {
	max-width: 200px;
}

.gnavi__list {
	display: flex;
}

.gnavi__item:not(:last-of-type) {
	margin-right: 1rem;
}

.gnavi__item a {
	font-size: 1.875rem;
	color: #fff;
}

.big-bg {
	background-image: url(../images/hero.png);
	min-height: 100vh;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}


/* 新着情報
--------------------------------------------------- */

#news {
	padding: 145px 0 155px;
}

.date-title {
	font-size: 1.25rem;
	margin-bottom: 5px;
}

.date-title:not(:first-of-type){
	margin-top: 65px;
}

.font-red {
	color: #D63636;
}

.news-detail {
	padding-left: 1rem;
}



/* 水族館の仲間たち
--------------------------------------------------- */

#animals {
	padding: 150px 0;
	background-color: #0080A4;
}

.price {
	border: 2px solid #C4F4F6;
}

.animals > p:not(:first-of-type) {
	margin-top: 1rem;
}

.pc-none {
	display: none;
}

.animals__list {
	margin-top: 60px;
}

.animals-cap {
	font-size: 1.5rem;
	text-align: center;
}

/*CSS Grid*/

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 95px;
}

/* 料金のご案内
--------------------------------------------------- */

#price {
	padding: 155px 0 150px;
	background-image: url(../images/fish-bg.png);
	background-repeat: repeat;
}

.price table {
	width: 100%;
	table-layout: fixed;
	color: #333;
	font-size: 1.5rem;
	border-collapse: collapse;
}
.price td {
	padding: 1em 0;
	border: 2px solid #808080;
}

.price td:nth-of-type(1) {
	background-color: rgba(196, 244, 296, .2);
text-align: center;
}

.price td:nth-of-type(2) {
	text-align: right;
	padding-right: 1em;
}

.however {
	font-size: 1.25rem;
}

/* FOOTER
--------------------------------------------------- */
footer {
	background-color: #01214F;
	text-align: center;
	color: #fff;
	padding: 30px 0;
}

small {
	font-size: 0.875rem;
}

/*========================メディアクエリ============================*/

@media (max-width: 768px){
	
	.wrapper {
		max-width: 667px;
		padding: 55px 50px 55px 50px;
	}
	
	.sub-titles {
		max-width: 667px;
		font-size: 1.375rem;
	}
	
	.header-flex {
		flex-direction: column;
	}
	
	.header-flex h1 {
		max-width: 200px;
	}
	
	.gnavi {
		margin: 40px 0;
	}
	
	.gnavi__list {
		align-items: center;
	}
	
	.gnavi__item a {
		font-size: 1.5rem;
	}
	
	#news {
		padding: 55px 0 100px;
	}

	
	.date-title:not(:first-of-type){
		margin-top: 40px;
	}

	.date-title {
		font-size: 1.125rem;
	}
	
	.news-detail {
		font-size: 0.875rem
	}
	
	#animals {
		padding: 100px 0;
	}
	

	
	#animals p {
		font-size: 0.875rem;
		text-align: center;
/*		padding: 0 110px;*/
	}
	
	.pc-none {
		display: inline;
	}
	
	figure {
		display: block;
		text-align:center;
	}
	
	#animals-cap {
		font-size: 1.125rem
	}
	
	#price {
		padding: 105px 0 100px;
	}
	
	.price table {
		font-size: 1.125rem;
	}

	.however {
		font-size: 0.875rem;
	}
	
	small {
		font-size: 0.75rem;
	}
	
}